\---
title: Title
layout: default
\---

.jumbotron.masthead
  .inner
    .padded.whitened
      %h1
        Munich User Group
      %p
        We're bringing the Munich developer community together to share their knowledge and build a powerful network.
      %center
        %a.btn.btn-primary.btn-large{ :href => "http://munichrug.wufoo.com/forms/z7x3x5/" }
          Register for 15th of April
        %a.btn.btn-large{ :href => "https://github.com/twitter/bootstrap/" }
          Fork & offer a talk
      %br
      %p
        Follow us
        %a{ :href => "https://twitter.com/muc_rubyshift" }
          @muc_rubyshift
        , subscribe to
        %a{ :href => "https://groups.google.com/group/rubyshift-muenchen" }
          Google Group
      %br

.row.even
  .span4.whitened
    .wrapper
      %img.icon{ :src => "/assets/images/people.png" }
      %h2 Community
      Join the Munich tech community and meet new people. We're all working on something or facing problems that others have seen. Meeting your community will help you to get better.

  .span4.whitened
    .wrapper
      %img.icon{ :src => "/assets/images/lightning.png" }
      %h2 Knowledge sharing
      Expand your knowledge lighting fast! Tell everyone about a project you have recently built, problem you have solved. Hear about others' experiences and learn from them.

  .span4.whitened
    .wrapper
      %img.icon{ :src => "/assets/images/arsenal.png" }
      %h2 Hacking
      Hack something new together? Join or find an open source project that's looking for contributors, or get some help from people who use your libraries and have ideas about how to improve what you've done.


%footer.footer
  %p<
    Follow our team on Twitter
    &nbsp;
    %a{ :href => "http://twitter.com/ifesdjeen" }<>
      Alex P
    ,
    &nbsp;
    %a{ :href => "https://twitter.com/kuzrob" }<>
      Robert Kuzelj
    ,
    &nbsp;
    %a{ :href => "https://twitter.com/flooose" }<>
      Chris Floess
    ,
    &nbsp;
    %a{ :href => "https://twitter.com/flobby" }<>
      Florian Bergmann
    \.