\---
title: Title
layout: default
\---

.jumbotron.masthead
  .inner
    .padded.whitened
      %h1
        Munich User Group
      %p
        Best tech user group you can find around.
      %p
        We're bringing professionals together to share their knowledge and build powerful network.
      %center
        %a.btn.btn-primary.btn-large{ :href => "http://munichrug.wufoo.com/forms/z7x3x5/" }
          Register for 15th of April
        %a.btn.btn-large{ :href => "https://github.com/twitter/bootstrap/" }
          Fork & offer a talk
      %br
      %p
        Follow us
        %a{ :href => "https://twitter.com/muc_rubyshift" }
          @muc_rubyshift
        , subscribe to
        %a{ :href => "https://groups.google.com/group/rubyshift-muenchen" }
          Google Group
      %br

.row.even
  .span4.whitened
    .wrapper
      %img.icon{ :src => "/assets/images/people.png" }
      %h2 Community
      Join Munich tech community, meet new people. Everyone's working on something unique, and faces the problems other ones are yet to interface. Meeting professionals will help you to get better.

  .span4.whitened
    .wrapper
      %img.icon{ :src => "/assets/images/lightning.png" }
      %h2 Knowledge sharing
      Expand your knowledge, with a stroke of lightning! Tell everyone about a project you have recently built, problem you have solved. Hear about other's experience and learn from it.

  .span4.whitened
    .wrapper
      %img.icon{ :src => "/assets/images/arsenal.png" }
      %h2 Hacking
      Hack something new together. Join an Open Source project that is starving for a maintainer. Get some help from people who use your libraries, and have an idea about how to improve what you have built.


%footer.footer
  %p<
    Follow our team on Twitter
    &nbsp;
    %a{ :href => "http://twitter.com/ifesdjeen" }<>
      Alex P
    ,
    &nbsp;
    %a{ :href => "https://twitter.com/kuzrob" }<>
      Robert Kuzelj
    ,
    &nbsp;
    %a{ :href => "https://twitter.com/flooose" }<>
      Chris Floess
    ,
    &nbsp;
    %a{ :href => "https://twitter.com/flobby" }<>
      Florian Bergmann
    \.