<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Ruby User Group Munich</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="assets/css/lightbox.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/modernizr-2.6.0.min.js"></script>
    <script>
      window.onload = function(){
        $(".span9.talk").click(function(data) {
          var sd = $(this).find(".shortdesc");
          sd.toggle("slow");
        });
        $(".span9 .talk").click(function(data) {

        });
      }
    </script>
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12314275-8']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="140">
    <!-- BEGIN Navigation bar -->
    <div id="navbar" class="navbar navbar-fixed-top">
      <div id="topbar">
        <div id="topbar-left"></div>
        <div id="topbar-right"></div>
      </div>
      <div class="container">
        <div class="navbar-inner">
          <a id="brand" class="brand" href="#home">Ruby</a>
          <ul class="nav">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#our_objectives">Our Objectives</a></li>
            <li><a href="#next_meetup">Next Meetup</a></li>
            <li><a href="#past_talks">Past Talks</a></li>
            <li><a href="#contact">About & Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Navigation bar -->
    <!-- BEGIN Carousel -->
    <div id="home" class="carousel slide">
      <div class="container dotted-black-up">
        <div class="carousel-inner">
          <div class="active item">
            <div class="span3">
              <img class="carousel-image" src="assets/img/frauenkirche.png" alt="">
            </div>
            <div class="span8">
              <div class="head">
                <h1>Meet, learn & have fun</h1>
              </div>
              <div class="">
                <p>Welcome! We are are happy you found us.<br>
                  We are the Munich Ruby user group and we gladly invite you to our next meetup.<br>
                  Meet regularily once a month to learn new and interesting stuff about Ruby, to foster our community and to have fun together.
                </p>
                <br>
                <div class="button">
                  <a href="#" class="button-red"><img alt="" src="assets/img/icons/tickets.png"></a><a href="#our_objectives" class="button-black">Our objectives</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="span3">
              <img class="carousel-image" src="assets/img/friedensengel.png" alt="">
            </div>
            <div class="span8">
              <div class="head">
                <h1>Speakers, talks & discussions</h1>
              </div>
              <div class="">
                <p>We meet every second Wednesday of the month at 19:00 CET at varying locations.<br>
                  We will have up to 4 presentations between 10-20 min each and discussions afterwards.<br>
                  Do you have an idea for an interesting topic concerning Ruby or something related? Please submit a talk!
                </p>
                <br>
                <div class="button">
                  <a href="#" class="button-red"><img alt="" src="assets/img/icons/cog.png"></a><a href="#next_meetup" class="button-black">The next meetup</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="span3">
              <img class="carousel-image" src="assets/img/oktoberfest.png" alt="">
            </div>
            <div class="span8">
              <div class="head">
                <h1>Nerds & Newbies</h1>
              </div>
              <div class="">
                <p>
                  So you are new and interested in Ruby? Yet afraid to join because all of that is detailed for you just right now? Don't worry! We have beginners talks.<br>
                  And you? You are a hyper-nerd and afraid because you could be bored. Don't worry we have a few of your kind as well. Rest assured you will find someone to have a meaning full discussion.
                </p>
                <br>
                <div class="button">
                  <a href="#" class="button-red"><img alt="" src="assets/img/icons/mail-white.png"></a><a href="#past_talks" class="button-black">Past Talks</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control left hidden-phone hidden-tablet" href="#home" data-slide="prev"></a>
        <a class="carousel-control right hidden-phone hidden-tablet" href="#home" data-slide="next"></a>
      </div>
    </div>
    <!-- END Carousel -->
    <!-- BEGIN Main keys -->
    <div id="our_objectives" class="bg-blue">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="circle-white">
              <div class="icon">
                <img class="icon-grey" src="assets/img/icons/communication-grey.png"/>
                <img class="icon-red" src="assets/img/icons/communication-red.png"/>
              </div>
              <h3 class="dotted-black">Communication</h3>
              <p>Foster our community<br>and giving a space for meaningful<br>conversations</p>
            </div>
          </div>
          <div class="span4">
            <div class="circle-white">
              <span class="icon" style="background-image: url('assets/img/icons/settings.png');"></span>
              <h3 class="dotted-black">Learning</h3>
              <p>Get to know new technologies,<br>techniques and<br>new people</p>
            </div>
          </div>
          <div class="span4">
            <div class="circle-white">
              <span class="icon" style="background-image: url('assets/img/icons/zoom.png');"></span>
              <h3 class="dotted-black">Fun</h3>
              <p>Programming is fun<br>and learning is fun and a few drinks <br>afterwards is fun</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Main keys -->
    <!-- BEGIN Services -->
    <div id="next_meetup">
      <div class="container">
        <div class="row head">
          <div class="span12">
            <h1>Next Meetup</h1>
          </div>
        </div>
        <div class="row">
          <div class="span2 hidden-phone">
            <img src="assets/img/clock.png" alt="">
          </div>
          <div class="span10">
            <div class="section-header">
              <strong>Our next meetup is on Wednesday, December 12th 19:00 CET at <a href="http://goo.gl/maps/UfZr4">Experteer, Lenbachplatz 3</a></strong>
            </div>
            <br>
            <p>We are again fully packed again with interesting talks and great speakers
            </p>
            <div class="span12 talk-entry">
                <div class="span3 speaker">Maikel Lammers</div>
                <div class="span9 talk foo">
                  <span>Introduction to the data, context, interaction architecture (DCI)</span>
                  <div class="shortdesc grey">
                    Object oriented programming does well capturing state and state changes of classes, <br>
                    it often fails in expressing collaboration between objects, though.<br>
                    This is what the DCI pattern tries to resolve<br>
                </div>
            </div>
            <div class="span12 talk-entry">
                <div class="span3 speaker">Daniel Sudman</div>
                <div class="span9 talk">
                  <span>Experteers Webcrawler</span>
                </div>
            </div>
            <div class="span12 talk-entry">
                <div class="span3 speaker">Philipp Fehre</div>
                <div class="span9 talk">
                  <span>Hammering the command line with Thor</span>
                  <div class="shortdesc grey">
                    Ruby is nice for the scripting but doing everything by hand is tedious,<br>
                    so Jim Weirich's Rake is a big improvment when it comes to building tasks, <br>
                    but just not the right thing when it comes to real command line applications... <br>
                    But there is hope, it's called Thor, and it's awesome!
                </div>
              </div>
            </div>
            <div class="span12 talk-entry">
                <div class="span3 speaker">Robert Kuzelj</div>
                <div class="span9 talk">
                  <span>Concurrent & scalable Ruby with Actors (Part I)</span>
                  <div class="shortdesc grey">
                    Concurrency is hard? Threads are confusing and Ruby is slow?<br>
                    Join me on a journey to find out how to write easy, fast and scalable Ruby programs.
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Services -->
    <!-- BEGIN Portfolio -->
    <div id="past_talks" class="bg-red">
      <div class="container">
        <div class="row head">
          <div class="span12">
            <h1>Past Talks</h1>
          </div>
        </div>
        <div class="row">
          <div class="span2 hidden-phone">
            <img src="assets/img/scisors.png" alt="">
          </div>
          <div class="span10">
            <p><strong class="white">Find the full list of all our speakers, their talks, a short description and a short bio (hover or click on their name or the presentation title). </strong></p>
            <br>
            <div class="span9 meeting dotted-white-up">
              <div class="span9 meeting-header">November, 14th 2012</div>
              <div class="span12 talk-entry">
                  <div class="span3 speaker">Nikolay Sturm</div>
                  <div class="span9 talk">
                    <span>Introduction to the Hexagonal Architecture</span>
                  </div>
              </div>
              <div class="span12 talk-entry">
                  <div class="span3 speaker">Peter Schrammel</div>
                  <div class="span9 talk">
                    <span>Rails performance and the Indentity Mapper</span>
                  </div>
              </div>
              <div class="span12 talk-entry">
                  <div class="span3 speaker">Oleksandr Petrov</div>
                  <div class="span9 talk">
                    <span>Introduction to Clojure</span>
                  </div>
              </div>
              <div class="span12 talk-entry">
                  <div class="span3 speaker">Sara Regan</div>
                  <div class="span9 talk">
                    <span>Experience report on the Rails Girls Munich event</span>
                    <div class="shortdesc">
                      A short overview of the who, how and why's of the Ruby Girls Movement.<br>
                      The Munich event happenend on October 12th & 13th and was a wonderful success<br>
                      that was even recorded by the Deutsche Welle.
                    </div>
                  </div>
              </div>
            </div>
            <div class="span9 meeting dotted-white-up">
              <div class="span9 meeting-header">October, 10th 2012</div>
              <div class="span12 talk-entry">
                <div class="span3 speaker">Peter Schrammel</div>
                <div class="span9 talk">
                  <span>Pains of growing</span>
                  <div class="shortdesc">A short and very opinionated resume of growing <br>
                    a successfull rails application over 7 years. <br>
                    Learnings not only on scaling Rails <br>
                    or Ruby but on scaling development itself.
                  </div>
                  </div>
              </div>
              <div class="span12 talk-entry">
                  <div class="span3 speaker">Robert Kuzelj</div>
                  <div class="span9 talk">
                    <span>Who is afraid of the whitespaces?</span>
                    <div class="shortdesc">
                        An unusual introduction to Coffeescript, whitespaces, classes and other scary things.<br>
                        This presentation will only cover very few code examples of Coffeescript but <br>
                        I will give the audience lots of insight of how humans perceive the world.<br>
                        The audience will learn how humans react to structure, <br>
                        how we perceive "negative space" (whitespaces being one instance to it) <br>
                        and "symbols", and how we model the world.<br>
                        I will give a amusing presentation on the <br>
                        psychology and philosophy of programming and programming languages.
                    </div>
                  </div>
                  </div>
              </div>
              <div class="span9 meeting dotted-white-up">
                <div class="span9 meeting-header">September, 12th 2012</div>
                <div class="span12 talk-entry">
                  <div class="span3 speaker">Nikolay Sturm</div>
                  <div class="span9 talk">
                    <span>Cucumber and RSpec for acceptance testing</span>
                    <div class="shortdesc">
                      In this talk I will describe our current process <br>
                      of feature specification at Helpster, focussing specifically <br>
                      on the usage of cucumber and rspec for recording acceptance <br>
                      criteria and creating a living documentation.
                    </div>
                  </div>
                </div>
                <div class="span12 talk-entry">
                  <div class="span3 speaker">Robert Kuzelj</div>
                  <div class="span9 talk">
                    <span>Introduction to Sinatra
                    <div class="shortdesc">
                        Sinatra is a small fine framework for writing fast and concise http-applications in Ruby.
                    </div>
                  </div>
                </div>
                <div class="span12 talk-entry">
                  <div class="span3 speaker">Oleksandr Petrov</div>
                  <div class="span9 talk">
                    <span>Metrics the second attemp</span>
                    <div class="shortdesc">
                        After trying once to speak on that subject and failing, <br>
                        I don't really want to give up. So here we go. <br>
                        I'm going to speak about how's and why's of system monitoring. <br>
                        And monitoring in general. And about how to build your own monitoring tools.
                    </div>
                  </div>
                </div>
              </div>
              <div class="span9 meeting dotted-white-up">
                <div class="span9 meeting-header">August, 8th 2012</div>
                <div class="span12 talk-entry">
                  <div class="span3 speaker">Christoph Engelhardt</div>
                  <div class="span9 talk">
                    <span>Introduction to Twilio</span>
                    <div class="shortdesc">Talk about twilio (http://twilio.com). Twilio brings voice and messaging to your web and mobile applications.</div>
                  </div>
                </div>
                <div class="span12 talk-entry">
                  <div class="span3 speaker">Henning Koch</div>
                  <div class="span9 talk">
                    <span>Solving bizarre authorization requirements</span>
                    <div class="shortdesc">
                      When it comes to user permissions ("who is allowed to do what?") <br>
                      there is no limit to the human imagination. As a development shop <br>
                      that works for a large number of clients, we've seen many <br>
                      strange authorization requirements in the wild. Such requirements <br>
                      tend to be full of case switching and exceptions and can quickly infect<br>
                       other application concerns if you don't pay attention. <br>
                       This talk proposes a number of simple design guidelines to deal with <br>
                       the most byzantine authorization requirements in a concise and structured way. <br>
                       These guidelines have been serving us well in many production projects over the years. <br>
                       Code examples will be in Ruby on Rails, <br>
                       but the techniques demonstrated are applicable to other technologies as well.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="speakers">
              <div id="peter_schrammel">Husband, father and teamlead. Been looking for ruby for 10 years, using it since 2005 and happy. Long military and leadership background</div>
              <div id="robert_kuzelj">Robert Kuzelj is a payment expert, entrepreneur and geek. He has been into software development for the last 20 years as coach, consultant and developer. From 2004 - 2010 he was CEO of PAY.ON a Munich based provider of payment gateways. At the moment Robert prepares a new venture.</div>
              <div id="nikolay_sturm">After a first career in systems administration, I switched to rails development on www.helpster.de last summer. For a decade now, I am active in the open-source community, first as committer to the OpenBSD project and later building one of the first testing tools for puppet, cucumber-puppet.
              </div>
              <div id="maikel_lammers">
                I'm a Ruby developer at Experteer. I'm still relatively new to this (I started working in development roughly two years ago) and am trying to learn as much as possible.
              </div>
              <div id="phillipp_fehre">
                Phil is your local and friendly ruby and javascript coder, working for his company Cospired.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- END Portfolio -->
    <!-- BEGIN About -->
    <div id="about">
      <div class="container">
        <div class="row head">
          <div class="span12">
            <h1>About</h1>
          </div>
        </div>
        <div class="row">
          <div class="span2 hidden-phone">
            <img src="assets/img/about.png" alt="">
          </div>
          <div class="span3">
            <p><strong>Rubyshift - the Ruby user group in Munich</strong></p>
            <br>
            <p>We wanted to have place for really cool Ruby stuff. So we revived the dormant Ruby user group. If you have any questions please contact us.</p>
            <p>Alex hates photos - this was the best he could provide. Don't worry thou he is a really cool guy! And Rober is also a kind person.</p>
          </div>
          <div class="span7">
            <div class="person" style="background-image: url('assets/img/alex.png');">
              <div class="person-desc">
                <h2>Alex</h2>
                <p>Organisator</p>
              </div>
            </div>
            <div class="person person-active" style="margin-left: -60px; background-image: url('assets/img/robert.png');">
              <div class="person-desc">
                <h2>Robert</h2>
                <p>Organisator</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END About -->
    <!-- BEGIN Contact -->
    <div id="contact" class="bg-blue">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h3>Ruby User Group</h3>
            <p>Munich</p>
            <br />
            <p><img src="assets/img/icons/mail-black.png" alt=""> <a href="mailto:robert@robkuz.com" style="text-decoration: underline;">robert@robkuz.com</span></p>
            <p><img src="assets/img/icons/mail-black.png" alt=""> <a href="mailto:alexp@coffeenco.de" style="text-decoration: underline;">alexp@coffeenco.de</span></p>
            </div>
        </div>
      </div>
    </div>
    <!-- END Contact -->
    <!-- BEGIN Footer -->
    <div id="footer">
      <div class="container">
        <p>All Rights Reserved 2011-2013 <strong>munich.rubyshift.org</strong></p>
      </div>
    </div>
    <!-- END Footer -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <script src="assets/js/script.js"></script>
    <div id="storage" style="display:none">
      5. July 2012

Sven C. Koehler, (https://github.com/sck), Shortest way to rewrite something like Ruby in C.
Alex Petrov (https://github.com/ifesdjeen), Metrics-Shmetrics
    Communication
    Learning
    Fun
    Next Meetup
    Past Talks
    About
    Telefon
    Email
    </div>
  </body>
</html>
